{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<div class="offset-1 col-10">
    <img src="{% static 'images/sg.jpg'%}" class="img-fluid">
    <h1 class="titulo">Escola Secundária São Gabriel-Matola</h1>
    <hr>
    <h2 class="titulo">Bem-vindo à Escola Secundária São Gabriel</h2>
    <p>O presente site pretende dinamizar a comunicação entre a instituição e a comunidade escolar, considerando o contexto em que a sociedade vive, sob a pandemia da covid-19, e respeitando as orientações do Ministério da Saúde.</p>
    <p>Através deste site os membros da comunidade escolar poderão obter informações e orientações em tempo útil sobre as listas dos alunos, horários, mensalidades, as renovações de matrículas, pautas, a convocatórias e outras.</p>
    <br>
    <p>Desde já queira receber as nossas cordiais saudações!</p>
    <br><br><br>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservedos.</p>
        <p>Se deseja um site ou blog para sua empresa, intituicao ou pessoal.</p>
        <p>Contacte-nos:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}