{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Escola Secundaria Sao Gabriel</h1>
<h2 class="titulo">Lista das Turmas para o ano 2021</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="../8.html">8 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">9 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">10 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">11 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">12 classe</a>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservedos.</p>
        <p>Se deseja um site ou blog para sua empresa, intituição ou pessoal.</p>
        <p>Contacte-nós:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}
