{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Escola Secundária São Gabriel</h1>
<h2 class="titulo">Resultados dos testes de adimissão</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1cmV96-tXDO-8L13sWUCZZWXZYPbWQBzE/view?usp=sharing">sala de estudo</a>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservedos.</p>
        <p>Se deseja um site ou blog para sua empresa, intituicao ou pessoal.</p>
        <p>Contacte-nos:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}