{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Escola Secundária São Gabriel</h1>
<h2 class="titulo">Resultados dos testes de adimissão</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1lkawaqnfTK3Ugi51FaJ8iZUPT8bVtej3/view?usp=sharing">sala 1</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1hsCFmoNR9fjSzVH22OSgtmT7kJ6AreSy/view?usp=sharing">sala 2</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1p19-8Lmte038LoBns3sgjHbOD_2TKyiI/view?usp=sharing">sala 3</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1K5rxjatPdGpiVTTGKPFPF5xg5OPwkpwt/view?usp=sharing">sala 4</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1g9SFmWMjqOHNkmxYA-msJGGdhoXpi7KB/view?usp=sharing">sala 5</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1KPeXe34PLx9n22rb3L7OOwJp7bRtiQRC/view?usp=sharing">sala 6</a>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservedos.</p>
        <p>Se deseja um site ou blog para sua empresa, intituicao ou pessoal.</p>
        <p>Contacte-nos:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}