{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Escola Secundária São Gabriel</h1>
<h2 class="titulo">Resultados dos testes de adimissão</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="{% url 'pays:oita'%}">8ª classe</a>
    <a class="btn btn-primary btn-block lista" href="{% url 'pays:nona'%}">9ª classe</a>
    <a class="btn btn-primary btn-block lista" href="{% url 'pays:dec'%}">10ª classe</a>
    <a class="btn btn-primary btn-block lista" href="{% url 'pays:onze'%}">11ª classe</a>

    <h3 class="titulo">Caros pais/encarregados de educação!</h3>
    <p>O processo de matricula de novos ingressos admitidos iniciou no dia 8 de Março e terá o seu términio no dia 16 do mês em curso. Findo o prazo a escola não se responsabiliza pela vaga em causa.</p>
    <p>Cordiais Saudações.</p>
    <a class="btn btn-success btn-block lista" href="https://drive.google.com/file/d/1huLClK_O2RkTqkdCULP_4Ic4vpFxAXwO/view?usp=sharingl">Documentos necessarios para as matrículas</a>
    <footer class="rodape">
        <p>copyright&copy;<i> Diol Nacuco Claudio.</i>Direitos reservedos.</p>
        <p>Se deseja um site ou blog para sua empresa, intituição ou pessoal.</p>
        <p>Contacte-nós:<i> 873893996 </i></p>
    </footer>
</div>
{% endblock content%}
